<header class="header">
    <h1 class="header__h1">Prague :: a city of beauty</h1>
    <nav class="header__nav nav">
        <ul class="header__ul">
            <li class="header__li">
                <a href="#introduction">Intro</a>
            </li>
            <li class="header__li">
                <a href="#pinterest">Point of interest</a>
            </li>
            <li class="header__li">
                <a href="#facts">Interesting facts</a>
            </li>
        </ul>
    </nav>
</header>
