<section id="pinterest" class="section">
    <h2 class="section__h2">Points of interest</h2>
    <p class="section__p"></p>
    <div class="cards">
        <div class="card">
            <div class="card__img">
                <img
                    src="./assets/images/pinterest/p1.jpg"
                    alt="Old Town Square"
                    class="card__img__img"
                />
            </div>
            <div class="card__content">
                <h3 class="card__content__title">Old Town Square</h3>
                <p class="card__content__description">
                    It is the heart of the oldest district of Prague and the
                    most emblematic meeting point or starting point of a visit
                    to the city.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card__img">
                <img
                    src="./assets/images/pinterest/p2.jpg"
                    alt="Astronomical Clock"
                    class="card__img__img"
                />
            </div>
            <div class="card__content">
                <h3 class="card__content__title">Astronomical Clock</h3>
                <p class="card__content__description">
                    Located in the Old Town Square, it is a unique work of art
                    of its kind. Every hour on the hour, it comes to life with
                    the parade of the figures of the 12 apostles.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card__img">
                <img
                    src="./assets/images/pinterest/p3.jpg"
                    alt="Charles Bridge"
                    class="card__img__img"
                />
            </div>
            <div class="card__content">
                <h3 class="card__content__title">Charles Bridge</h3>
                <p class="card__content__description">
                    This iconic bridge spans the Vltava River and connects Stare
                    Mesto (Old Town) with Mala Strana (Lesser Town). It is
                    adorned with 30 statues on both sides
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card__img">
                <img
                    src="./assets/images/pinterest/p4.jpg"
                    alt="Prague Castle"
                    class="card__img__img"
                />
            </div>
            <div class="card__content">
                <h3 class="card__content__title">Prague Castle</h3>
                <p class="card__content__description">
                    It is a former royal citadel that has been the office of the
                    kings of Bohemia, the emperors of the Holy Roman Empire, the
                    presidents of Czechoslovakia and the presidents of the Czech
                    Republic
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card__img">
                <img
                    src="./assets/images/pinterest/p5.jpg"
                    alt="St. Vitus Cathedral"
                    class="card__img__img"
                />
            </div>
            <div class="card__content">
                <h3 class="card__content__title">St. Vitus Cathedral</h3>
                <p class="card__content__description">
                    St. Vitus Cathedral: It is an impressive Gothic cathedral
                    located inside the Prague Castle.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card__img">
                <img
                    src="./assets/images/pinterest/p6.jpg"
                    alt="Vyšehrad"
                    class="card__img__img"
                />
            </div>
            <div class="card__content">
                <h3 class="card__content__title">Vyšehrad</h3>
                <p class="card__content__description">
                    Vyšehrad: It is a riverside citadel offering panoramic views
                    of the city.
                </p>
            </div>
        </div>
    </div>
</section>
